/*License MIT*/
/* Earth, based on StoneAge and Peack*/

/*Main area*/
.CodeMirror,
.CodeMirror .CodeMirror-scroll {
    background: #111;
    color: #929aa2;}

/************** Cursor **************/
.CodeMirror-cursor {
    border-left: 2px solid #ede0ce !important;
}



.CodeMirror .CodeMirror-scroll .CodeMirror-gutters{background:#2b2a27; border-right:1px solid #403c37;}/*Left vertical bar with line count*/

    /*Syntax elements & action*/
span.cm-atom{color:#BCD42A;} /*Atribbute value ex. #f00 in color:#f00;*/
span.cm-def{color: inherit;} /*variable definition*/
span.cm-number{color:#BCD42A;} /*Numbers*/
span.cm-variable{color: inherit;} /*Variable name ex. class Variable_name */
span.cm-variable-2{color: inherit;} /*Variable declaration ex. $variable */
span.cm-property{color:#FF5D38;} /*Property ex. color in color:#f00;*/
span.cm-operator{color: inherit;} /*Operators ex. dots (:) between property and atom value */
span.cm-comment{color:#c18c23;} /*Comment*/
span.cm-string{color:#BCD42A;} /*String elements ex. "description" in name="description" - including quotation*/
span.cm-meta{color: inherit;} /*Meta elements like ex.: <!DOCTYPE html>*/
span.cm-qualifier{color:#BCD42A; /*opacity 0.75;*/ font-weight: bolder;} /*Final qualifier like css class ex.: .cm-qualifier*/
span.cm-builtin{color:#00a8c6; font-weight: bolder;} /*Final qualifier like css id ex.: #context-menu-bar*/
span.cm-tag{color:#26A6A6;} /*Tags ex. ul or <ul>*/
span.cm-attribute{color:#FF5D38;} /*Attribute ex. rel, href, name*/
span.cm-keyword {color:#26A6A6;} /*Element call ex. array, class, public function, if, elseif, !important*/
span.cm-matchingtag{background:#2b2a27 ;}
.CodeMirror-selected{background:#5b68ad !important;} /*Selected lines - may need !important*/
.CodeMirror-gutter-elt{background:#2b2a27;}
.CodeMirror-activeline-background{background:rgba(255,255,255,0.1) !important;} /*Active line - may need !important*/
.CodeMirror-matchingtag{background:none; text-decoration:underline; font-weight: bold; color: #38b2ff !important;} /*Matching tags, open/close. Try !important for bg, color etc. if it doesn't work*/
div.CodeMirror span.CodeMirror-matchingbracket{background:#403c37;} /*Matching brackets, open/close*/

    /*Status bar - bottom*/
/*#status-bar{background:#2b2a27; color:#ede0ce; border-top:1px solid #403c37;}/*Bottom status bar*/

    /*Modal windows like context-menu, quick-view or hint container*/
#context-menu-bar .dropdown-menu{background:#ad9d9d;} /*Dropdown menu, available under right-click - may need !important*/
#context-menu-bar .dropdown-menu a{color:rgb(247, 239, 229);} /*Single option, treat it like <li> ex. background*/
#context-menu-bar .dropdown-menu a:hover{background:#00a8c6; font-weight: bolder;}
#codehint-menu-bar .dropdown-menu{background:#ad9d9d;} /*Code hint menu, dropdown visible when writing code.*/
#codehint-menu-bar .dropdown-menu li a{color:#ede0ce;} /*Code hint menu option, dropdown visible when writing code. Treat like <li>*/
#codehint-menu-bar .dropdown-menu li a:hover {background:#999;} /*Code hint menu option, dropdown visible when writing code. Treat like <li>*/

    /*Inline editor(Ex. Quick Edit - Ctrl + E)*/

.CodeMirror .inline-widget{
    background: #6a6560;
    color: #ccc;
}

/********* Quick Documentation - Ctrl + K - CSS*********/
.inline-widget .css-prop-defn { color: white !important;  }
.inline-widget .css-prop-defn h1 { color: #FF5D38 !important; }
.inline-widget .css-prop-defn dt { color: #48adff !important; }
.inline-widget .css-prop-defn b { color: #37ad3e !important; }
.inline-widget .css-prop-defn code { color: #ea7e06 !important; }
.inline-widget .css-prop-defn .divider-holder.no-focus .divider { border-color: #5C5C5C; } /* Stripe in the middle */

.CodeMirror .CodeMirror-linenumber {
    padding-left: 18px;
}

/* the "x" to close, shout work for all avalibal classes  */
.close {
    color: #f00 !important;
    border: 1px solid #2b2a27 ;
    opacity: 0.5;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
}
.close:hover { opacity: 1; }

/*************************************** Sidebars ***************************************/
/************** Left Sidebar **************/

/*Options */
#sidebar #working-set-option-btn:hover {
    border: 2px solid #FF5D38;
    opacity: 1;
}
/* Open Working file extension -(*.html)- Offene datei bezeichnung */
#sidebar #open-files-container ul li a span.extension { color: #f00; }
#sidebar #open-files-container ul li a:hover { color: #BCD42A; font-weight: bolder;}
/* Open active working file - Offene ausgewählte datei */
#sidebar #open-files-container ul li.selected a { color: #fafafa; }
#sidebar #open-files-container ul li.selected a span.extension { color: #ede0ce; }

/************** Right Sidebar**************/
/*Whole toolbar*/
#main-toolbar {
    background-color: #444749;
    border-bottom: 2px solid #2b2a27;
    border-top: 2px solid #2b2a27;
}
/************** Status bar - bottom **************/
#status-bar {
    background-color: #313638;
    border-top: 1px solid #2b2a27;
    border-bottom: 1px solid #2b2a27;
}

#status-bar #status-info { /* Line & column info - Zeilen, Spalten info */
    color: #FF5D38;
    font-size: 12px;
}
#status-bar #status-file { font-size: 11px; color: #BEC0C0 !important; } /* whole lines in document info - alle zeilen angabe */

/* Indent status info (tab or spaces) */
#status-bar #status-indicators #status-indent {
    font-size: 11px;
    color: #999;
    border-right: 1px solid #2C3032;
    border-left: 1px solid #2C3032;
}
#status-bar #status-indicators #status-indent:hover {
    color: #BCD42A;
    border-right: 1px solid #FF5D38;
    border-left: 1px solid #FF5D38;
    border-radius: 5px;
}

/* Indent status info(overwrite or insert */
#status-bar #status-indicators #status-overwrite {
    font-size: 11px;
    color: #999;
    border-right: 1px solid #000;
    border-radius: 5px;
}
#status-bar #status-indicators #status-overwrite:hover {
    color: #BCD42A;
    border-right: 1px solid #FF5D38;
    border-left: 1px solid #FF5D38;
}

/* Error's in developer tools*/
#status-bar #status-indicators #error-counter {
    font-size: 11px;
    color: #999;
    border-right: 1px solid #000;
    border-radius: 5px;
}
#status-bar #status-indicators #error-counter:hover {
    color: #BCD42A;
    border-right: 1px solid #FF5D38;
    border-left: 1px solid #FF5D38;
}

#status-bar #status-indicators #status-language { color: #D7D8D9 !important; } /* Language info */

/*************************************** Main area***************************************/
/* Editor when no file is open */
#editor-holder { background-color: #363530 !important; }
#editor-holder #not-editor { background-color: #5c5954 !important; }


