/*License MIT*/
/* Earth, based on StoneAge and Peack*/

/*Main area*/
.CodeMirror,
.CodeMirror .CodeMirror-scroll {
    background: #111;
    color: #929aa2;}

/************** Cursor **************/
.CodeMirror-cursor {
    border-left: 2px solid #ede0ce !important;
}

.CodeMirror .CodeMirror-overwrite .CodeMirror-cursor {
    border-left: none !important;
    border-bottom: 1px solid #ede0ce;
}


.CodeMirror .CodeMirror-scroll .CodeMirror-gutters{background:#2b2a27; border-right:1px solid #403c37;}/*Left vertical bar with line count*/

    /*Syntax elements & action*/
.cm-atom{color:#BCD42A;} /*Atribbute value ex. #f00 in color:#f00;*/
.cm-def{color: inherit;} /*variable definition*/
.cm-number{color:#BCD42A;} /*Numbers*/
.cm-variable{color: inherit;} /*Variable name ex. class Variable_name */
.cm-variable-2{color: inherit;} /*Variable declaration ex. $variable */
.cm-property{color:#FF5D38;} /*Property ex. color in color:#f00;*/
.cm-operator{color: inherit;} /*Operators ex. dots (:) between property and atom value */
.cm-comment{color:#c18c23;} /*Comment*/
.cm-string{color:#BCD42A;} /*String elements ex. "description" in name="description" - including quotation*/
.cm-meta{color: inherit;} /*Meta elements like ex.: <!DOCTYPE html>*/
.cm-qualifier{color:#BCD42A; /*opacity 0.75;*/ font-weight: bolder;} /*Final qualifier like css class ex.: .cm-qualifier*/
.cm-builtin{color:#00a8c6; font-weight: bolder;} /*Final qualifier like css id ex.: #context-menu-bar*/
.cm-tag{color:#26A6A6;} /*Tags ex. ul or <ul>*/
.cm-attribute{color:#FF5D38;} /*Attribute ex. rel, href, name*/
.cm-keyword {color:#26A6A6;} /*Element call ex. array, class, public function, if, elseif, !important*/
.cm-matchingtag{background:#2b2a27 ;}
.CodeMirror-selected{background:#5b68ad !important;} /*Selected lines - may need !important*/
.CodeMirror-gutter-elt{background:#2b2a27;}
.CodeMirror-activeline-background{background:rgb(255,255,255); background:rgba(255,255,255,0.1) !important;} /*Active line - may need !important*/
.CodeMirror-matchingtag{background:none; text-decoration:underline; font-weight: bold; color: #38b2ff !important;} /*Matching tags, open/close. Try !important for bg, color etc. if it doesn't work*/
/*div.CodeMirror span*/.CodeMirror-matchingbracket{background:#f00; font-weight: bold;} /*Matching brackets, open/close*/


    /*Inline editor(Ex. Quick Edit - Ctrl + E)*/

.CodeMirror .inline-widget{
    background: #6a6560;
    color: #ccc;
}

/********* Quick Documentation - Ctrl + K - CSS*********/
.inline-widget .css-prop-defn { color: white !important;  }
.inline-widget .css-prop-defn h1 { color: #FF5D38 !important; }
.inline-widget .css-prop-defn dt { color: #48adff !important; }
.inline-widget .css-prop-defn b { color: #37ad3e !important; }
.inline-widget .css-prop-defn code { color: #ea7e06 !important; }
.inline-widget .css-prop-defn .divider-holder.no-focus .divider { border-color: #5C5C5C; } /* Stripe in the middle */

.CodeMirror .CodeMirror-linenumber {
    padding-left: 18px;
}

/* the "x" to close, shout work for all avalibal classes  */
.close {
    color: #f00 !important;
    border: 1px solid #2b2a27 ;
    opacity: 0.5;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
}
.close:hover { opacity: 1; }

/*************************************** Sidebars ***************************************/

/*************************************** Main area***************************************/
/* Editor when no file is open */
#editor-holder { color: #363530 !important; }
#editor-holder,
#not-editor { background-color: #5c5954 !important; }

